In [11]:
# import packages

import pandas as pd
import numpy as np

In [12]:
# load in full short-term station dataset

df1 = pd.read_csv('ST.csv')

In [13]:
# check

print(df1.head())

       Name   2019  2020 % Change
0  11410031  10138  9126     -10%
1  11760021   9634  8067     -16%
2  13100185    293   331      13%
3  18000037   8584  7382     -14%
4  28020000    778   145     -81%

In [14]:
# check data type for each value

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 910 entries, 0 to 909
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      910 non-null    int64
 1   2019      910 non-null    int64
 2   2020      910 non-null    int64
 3   % Change  910 non-null    object
dtypes: int64(3), object(1)
memory usage: 28.6+ KB

In [15]:
# load in second grouped short-term station dataset

df2 = pd.read_csv('ST_Group.csv')
print(df2.head())

    Site ID  Site Name                       Description Speed Limit  \
0  43007000   43007000           WEST 7TH AVE@ W OF K ST     25.0mph
1  43021000   43021000           WEST 7TH AVE@ W OF D ST     25.0mph
2  43026000   43026000        WEST 7TH AVE@BTWN C & A ST     25.0mph
3  43032000   43032000  EAST 7TH AVE@ WEST OF CORDOVA ST     25.0mph
4  43042000   43042000           WEST 8TH AVE@ W OF I ST     25.0mph

  Orientation   Latitude   Longitude
0           E  61.215633 -149.902367
1           E  61.215600 -149.890000
2           E  61.215600 -149.885000
3           E  61.215550 -149.880283
4           E  61.214600 -149.901000

In [16]:
# check data types for each value

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Site ID      72 non-null     int64
 1   Site Name    72 non-null     int64
 2   Description  72 non-null     object
 3   Speed Limit  72 non-null     object
 4   Orientation  72 non-null     object
 5   Latitude     72 non-null     float64
 6   Longitude    72 non-null     float64
dtypes: float64(2), int64(2), object(3)
memory usage: 4.1+ KB

In [17]:
# create new data set comprised only of small group stations and percentage change information

df3 = df1.loc[df1['Name'].isin(df2['Site Name'])]

In [18]:
print(df3.head())

         Name  2019  2020 % Change
165  43007000  1006   465     -54%
166  43021000  2845  1081     -62%
167  43026000  1522   592     -61%
168  43032000   647   360     -44%
169  43042000   960   619     -36%

In [19]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43 entries, 165 to 669
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      43 non-null     int64
 1   2019      43 non-null     int64
 2   2020      43 non-null     int64
 3   % Change  43 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.7+ KB

In [46]:
# save new data set as .csv

df3.to_csv('Downtown_ST.csv', index = False)

In [21]:
# change percentage values into string format

df4 = pd.read_csv('Downtown_ST.csv', dtype={'% Change': str})

In [22]:
print(df4.head())

       Name  2019  2020 % Change
0  43007000  1006   465    -0.54
1  43021000  2845  1081    -0.62
2  43026000  1522   592    -0.61
3  43032000   647   360    -0.44
4  43042000   960   619    -0.36

In [23]:
# change % change value to float

df4['% Change'] = df4['% Change'].astype(float)

In [24]:
print(df4.head())

       Name  2019  2020  % Change
0  43007000  1006   465     -0.54
1  43021000  2845  1081     -0.62
2  43026000  1522   592     -0.61
3  43032000   647   360     -0.44
4  43042000   960   619     -0.36

In [25]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      43 non-null     int64
 1   2019      43 non-null     int64
 2   2020      43 non-null     int64
 3   % Change  43 non-null     float64
dtypes: float64(1), int64(3)
memory usage: 1.5 KB

In [26]:
# get average of all % change values rounded to two decimal points

np.round(df4['% Change'].mean(), 2)

-0.37