## Loading Data into Pandas

In [34]:
import pandas as pd

df = pd.read_csv('pokemon.csv')

## print(poke.head(5))

### Reading Data in Pandas

In [18]:
## Read Headers
# print(df.columns)

## Read each Column
# print(df['Name'][0:5])
# print(df[['Name', 'Type 1', 'HP']])

## Read Each Row
# print(df.iloc[1:4])
# for index, row in df.iterrows():
#    print(index, row['Name'])
# df.loc[df['Type 1'] == "Fire"]

## Read a Specific Location (R,C)
# print(df.iloc[2,1])

### Sorting/Describing Data

In [19]:
# df.describe()
# df.sort_values('Name', ascending=False)
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,515,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,550,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,495,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,325,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,295,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,340,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False

### Making Changes to the Data

In [45]:
# combine all stats into aggregate total for easier relative comparison
#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

# this string removes the 'total' column - note that df must be reset
#df = df.drop(columns=['Total'])

df['total'] = df.iloc[:, 4:10].sum(axis=1)

cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]]+cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,total,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,591,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,750,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,970,525,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,1170,625,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,553,309,39,52,43,60,50,65,1

In [26]:
# backcheck addition in 'total' column for coherency
#45+49++49+65+65+45

318

### Saving our Data (Exporting in Desired Format)

In [46]:
df.to_csv('modified_pokemon.csv')